/repos
.env
.DS_Store
summaries/summary-AI-classification-opencv.txt
summaries/summary-final-game.txt
summaries/summary-guessing-game.txt
summaries/summary-hack-club.txt
summaries/summary-lastproj.txt
summaries/summary-mood-board.txt
summaries/summary-mousebrightness.txt
summaries/summary-personal-idea-gen.txt
summaries/summary-sample1.txt
summaries/summary-Screen-Mirrorer.txt
summaries/summary-Server-Client.txt
summaries/summary-SimonHajd.txt
summaries/summary-Strava_Aura.txt
output-print.py
mouse-shake-ignore.py
